@import "variables";

@import "ui";
@import "layout/sidenav";
@import "layout/header";
@import "layout/footer";
@import "layout/content";

.App {
  font-family: sans-serif;
  text-align: center;
}

.app-sidenav {
  .bg-dark,
  .bg-primary,
  .bg-success,
  .bg-info,
  .bg-danger {
    background-color: $bg-color;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

// .fixed-header {
//   .ant-layout {
//     // apply to all .ant-layout Class
//     overflow: auto;
//   }
//   .ant-layout-sider {
//     overflow: auto;
//   }
// }

.sidenav-bg-dark {
  background-color: $dark-bg-color;
}

.app-layout {
  &.ant-layout {
    // make sidenav full height
    align-items: stretch;
    min-height: 100vh;
  }
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.sidenav-footer {
  background-color: $dark-bg-color;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  // same with antd menu item
  > a {
    display: block;
    padding: 0 16px 0 24px;
    line-height: $sidenav_footer_height;
    &:focus {
      text-decoration: none;
    }
    .anticon {
      margin-right: 8px;
    }
  }
}

// React logo, #67DAF9
.logo-img {
  width: 24px;
  height: 24px;
  // .st0 { fill: #fff; }
  .st1 {
    opacity: 0.9;
  }
}

.logo-react {
  .react-dot,
  .react-curve {
    opacity: 0.9;
    stroke: #fff;
  }
}

.brand {
  text-decoration: none;
}

#app-content {
  background-color: $page-bg;

  p {
    height: 2000px;
    border: 2px solid red;
  }
}

.fixed-sidenav {
  .app-sidenav-container, // when #app-sidenav is wrapped in a container
  #app-sidenav {
    height: 100vh; // 什么意思？ 元素占用 100%的高度 100vw 为宽度

    & + .ant-layout {
      // 当前元素的 兄弟节点设置为 高度 视口的100%
      height: 100vh;
      /**
      // fix 严重bug
              min-height: 0;//默认值 时候导致 底部元素 显示错误
              */
      .ant-layout-content {
        min-height: fit-content;
      }
    }
  }
}
