.App {
  font-family: sans-serif;
  text-align: center;
}

$bg-color: #01bcd4;
.app-sidenav {
  height: 100vh;
  background-color: $bg-color !important;
  .bg-info {
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

.app-header {
  background-color: $bg-color !important;
}
